@font-face {
  font-family: "deutsch_gothicnormal";
  src: url("Deutsch-webfont.eot");
  src: url("Deutsch-webfont.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: black;
  background-image: url("cavern.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.shape {
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
  width: 100vw;
  padding: 5vh 2vw;
}

.fighter {
  height: 40vh;
  width: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 3vh;
  color: wheat;
  border-radius: 2rem 0 0 2rem;
  border: solid 0.2rem wheat;
}

.heraclesSheet {
  background-image: url("heraclesAvatar.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nemeanLionSheet {
  background-image: url("lionAvatar.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0 2rem 2rem 0;
}

.nemeanLion {
  text-align: right;
}

h1 {
  font-family: "deutsch_gothicnormal";
  font-size: 2rem;
  color: rgb(201, 0, 0);
}

.battleArena {
  height: 86vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background-image: url("begin.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 0.2rem;
  box-shadow: 0 0 5rem white;
}

.battleArena * {
  height: 7vh;
  width: 30vw;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "deutsch_gothicnormal";
  font-size: 1.5rem;
  color: darkred;
  border-radius: 0.5rem;
  box-shadow: 0 0 10rem black;
}
